# Ultralytics requirements
# Usage: pip install -r requirements.txt

# Base ----------------------------------------
numpy
Pillow 
requests
torch
torchvision
python3-opencv
ultralytics

# Plotting ------------------------------------
pandas
