# Ultralytics requirements
# Usage: pip install -r requirements.txt

# Base ----------------------------------------
hydra-core>=1.2.0
matplotlib>=3.2.2
numpy>=1.18.5
Pillow >= 10.1
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch
torchvision
tqdm>=4.64.0
opencv_python
opencv-python-headless
sahi
ultralytics

#tracking
filterpy
scikit-image

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Extras --------------------------------------
ipython  # interactive notebook
psutil  # system utilization
thop>=0.1.1  # FLOPs computation

# HUB -----------------------------------------
GitPython>=3.1.24
