# Ultralytics requirements
# Usage: pip install -r requirements.txt

# Base ----------------------------------------
numpy
Pillow 
requests
torch
torchvision
opencv-python-headless==4.5.3.56
ultralytics

# Plotting ------------------------------------
pandas
